# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*.jar
lib/PlotSquared-Sponge-.jar
bin/main/crunch/darwin/particles/commands/Commands$ChangeParticle.class
bin/main/crunch/darwin/particles/commands/Commands$ChangeParticle.class
bin/main/crunch/darwin/particles/commands/Commands$deleteParticle.class
bin/main/crunch/darwin/particles/commands/Commands$getParticlesInChunk.class
